{% load i18n adminmedia gallery_extras %}
{% if objects %}
{% for object in  objects %}
<div class="album_object{% ifequal object.id album.preview.id %} active{% endifequal %}" id="object_{{ object.id }}">
<div class="container" style="width:{{ admin_image_size.1 }}px; height:{{ admin_image_size.0 }}px;">{{ object|resized_image:"admin" }}</div>
<div class="toolbar">
    {% ifequal object.id album.preview.id %}
        <img class="float-right" alt="{% trans "This image is the preview thumbnail of this gallery" %}" src="/media/icons/photo.png" title="{% trans "This image is the preview thumbnail of this gallery" %}" />
    {% endifequal %}
    <a href="#TB_inline?height=450&width=400&inlineId={{ object.id }}_actions" class="thickbox" title="{{ object.name }}"><img src="/media/icons/pencil.png" alt="Edit" /></a>
    <a href="/admin/gallery/album/{{ album.id }}/{{ object.id }}/delete/" class="delete-link"><img src="/media/icons/delete.png" alt="Delete" /></a>
</div>
<div class="object_actions" id="{{ object.id }}_actions">
    <h2>{% blocktrans with object.name as name %}Edit image {{ name }}{% endblocktrans %}</h2>
    <div id="{{ object.id }}_info_form" class="object_info_form">
        <fieldset class="module aligned">
             <div class="form-row">
                <label class="required" for="id_object_{{ object.id }}_name">Name</label>
                <input id="id_object_{{ object.id }}_name" type="text" maxlength="200" value="{{ object.name }}" name="name"/>
             </div>
         
             <div class="form-row">
                <label class="required" for="id_object_{{ object.id }}_description">Caption</label>
                <textarea id="id_object_{{ object.id }}_caption" type="text" maxlength="200" name="caption">{% if object.caption %}{{ object.caption }}{% endif %}</textarea>
             </div>

             <div class="form-row">
                <label class="required" for="id_object_{{ object.id }}_preview">Preview</label>
                <input id="id_object_{{ object.id }}_preview" type="checkbox" {% ifequal object.id album.preview.id %}checked="checked"{% endifequal %} name="name"/>
             </div>
        </fieldset>
        <div class="submit-row">
            <input class="TB_closeWindowButton float-left" type="button" value="{% trans "Close window" %}" />
            <input type="button" class="default submit_object_infos" id="submit_object_infos_{{ object.id }}" value="Save all changes" />
        </div>
     </div>
</div>
</div>
{% endfor %}
{% else %}
<p>{% trans 'There are no pictures available.' %}</p>
{% endif %}
<div class="clear"></div>
